@media (max-width: 600px) {

  .topMainSec {
    flex-direction: column;
    justify-content: center;
  }

  .showAssetMain {
    margin-top: 88px;
  }

  .topLeftMainSec {
    margin-top: 0px;
  }
  .artistNameSec {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 12px;
  }
  .artistName {
    width: 129px;
    font-size: 14px;
    margin-top: 0px;
    margin-left: 8px;
  }
  .artistText {
    font-size: 14px;
  }
  .artworkMainImgSec {
    width: 100%;
    height: 208px;
    margin-bottom: 38px;
    margin-top: 17px;
  }

  .artworkMainImg {
    width: 100%;
    height: 208px;
  }

  .topRightMainSec {
    display: none;
  }

  .saleMainSec {
    margin-top: 0px;
  }
  .saleStartDate {
    display: none;
  }
  .saleEndDate {
    display: none;
  }
  .timeCounterSec {
    width: 70%;
    margin: auto;
  }
  .counterNum {
    font-size: 25px;
    margin-bottom: 8px;
  }
  .counterTitle {
    font-size: 14px;
  }
  .fractionsMainSec {
    flex-direction: row;
    margin-top: 24px;
    justify-content: center;
    align-items: baseline;
  }
  .fractionsLeftTxt {
    font-size: 14px;
    margin-right: 8px;
  }
  .priceMainSec {
    position: -webkit-sticky;
    position: sticky;
    top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 27px;
    margin-left: -25px;
    margin-right: -20px;
    width: 115%;
    height: 57px;
    background: #FFFFFF;
    box-shadow: 0px -2px 9px rgba(0, 0, 0, 0.1);
    padding-left: 40px;
    padding-right: 40px;
  }
  .provenanceMainSec {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    width: 100%;
    height: auto;
    padding: 18px 16px;
  }
  .backStoryTxt {
    font-size: 12px;
    width: 100%;
  }
  .backStoryDivider {
    display: none;
  }
  .provenanceDivider {
    display: none;
  }
  .backStoryBottomSec {
    display: none;
  }
  .bottomMainSec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 72px;
    margin-bottom: 204px;
  }
  .ownersIndexSec {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    height: auto;
  }
  .historyIndexSec {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    height: auto;
  }
  .priceTxt {
    font-size: 14px;
    font-weight: 300;
  }
  .priceAmount {
    font-size: 16px;
    font-weight: 500;
    margin-top: 3px;
  }
  .priceSec {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .BuyBtn {
    width: 123px;
    height: 35px;
    background-color: #232323;
    color: #FFFFFF;
    font-size: 16px;
    text-transform: none;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 5px;
  }
}

















