.mainHeaderScrolled {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 96%;
  height: 87px;
  top: 16px;
  z-index: 100;
  background-color: white;
  font-family: Roboto, sans-serif;
  //padding: 0 4rem;
  //margin-left: 126px;
  //margin-right: 126px;
  margin-right: -200px;
  margin-left: -200px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  //border: 1px solid red;
}

.mainHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //position: fixed;
  width: 100%;
  height: 87px;
  top: 0;
  z-index: 1;
  background-color: white;
  font-family: Roboto, sans-serif;
  //padding: 0 4rem;
  //margin-left: 126px;
  //margin-right: 126px;
  margin-bottom: 0px;
  margin-right: -200px;
  margin-left: -200px;
  //box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  //border: 1px solid red;
}

.mainHeaderDesktop {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //margin-left: 128px;
  //margin-right: 123px;
}
.logoWithHam{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerMainMob {
  //margin-top: 12px;
  display: flex;
  height: 44px;
  padding-left: 24px;
  padding-right: 24px;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.hamburgerAndlogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  width: 16px;
  height: 14px;
  margin-right: 10px;
  cursor: pointer;
}

.logoMob {
  width: 51px;
  //height: 32px;
  //color: white;
  margin-right: 34px;
  border-radius: 5px;
  //background-color: #94A2AB;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.AtoshinLogo {
  width: 172px;
  height: 46px;
  cursor: pointer;
}

.AtoshinLogoMob {
  width: 83px;
  //height: 32px;
}

.registerBtnMob {
  background-color: #232323;
  color: white;
  text-transform: none;
  height: 32px;
  width: 71px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  padding: 0;
  border-radius: 5px;
}

.menuContainer {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

  .marketplaceItem {
    margin-right: 104px;
  }

  .marketplaceItemActive {
    margin-right: 104px;
    font-weight: 700;
    border-bottom: 2px solid #000000;
  }
  .itemActive {
    font-weight: 700;
    border-bottom: 2px solid #000000;
  }

  li {
    margin: 0px 24px 0px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    cursor: pointer;
    user-select: none;
  }

  .registerBtn {
    background-color: #232323;
    text-transform: none;
    height: 47px;
    width: 131px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 0;
    border-radius: 5px;

    &:hover {
      background-color: rgba(35, 35, 35, 0.90);
    }
  }
}

.modalMainSec {
  display: flex;
  flex-direction: column;
}

.connectWalletTitle {
  font-size: 20px;
  font-weight: bold;
  color: #232323;

}

.avatarIcon {
  width: 40px;
  //height: 48px;
}

.avatarIconMob {
  width: 24px;
  height: 24px;
}

.avatarIconSec {
  display: flex;
  cursor: pointer;
}


.menuMain {
  left: -154px !important;
  top: 12.82px;
}

.menuMainSec {
  width: 214px;
  height: 190px;
  padding-top: 8px;
  padding-left: 24px;
}

.userName {
  font-size: 16px;
  font-weight: 500;
  color: #232323;
}

.balanceSec {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 17px;
}

.ethLogoSec {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: lightgray;
  //opacity: 0.1;
  margin-right: 11px;
}

.ethLogo {
  width: 18.67px;
  height: 32px;
  //z-index: 100;
}

.balanceAmount {
  font-size: 16px;
  font-weight: 300;
  color: #232323;
}

.myProfileSec {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
}

.myProfile {
  width: 20px;
  height: 20px;
  margin-right: 9px;
}

.myProfileText {
  color: #232323;
  font-size: 16px;
  font-weight: 300;
}

.disconnectSec {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
}

.disconnectIcon {
  width: 20px;
  height: 20px;
  margin-right: 9px;
}

.disconnectText {
  color: #232323;
  font-size: 16px;
  font-weight: 300;
}

@import "media";