@media (max-width: 600px) {
  .mainHeader {
    height: 44px;
    margin-bottom: 85px;
  }
  .menuMain {
    left: 0!important;
    top: 14.36px;
  }
  .menuMainSec {
    padding-top: 10px;
  }
  .userName {
    font-size: 12px;
  }
  .balanceAmount {
    font-size: 12px;
  }
  .myProfileText {
    font-size: 12px;
  }
  .disconnectText {
    font-size: 12px;
  }
  .myProfile{
    width: 20px;
    height: 20px;
  }
  .disconnectIcon {
    width: 20px;
    height: 20px;
  }
}