@media (max-width: 600px) {
  .topMainSec {
    flex-direction: column;
  }
  .topLeftSec {
    margin-top: 0;
  }
  .artworkInfo {
    width: 100%;
  }
  .artworkImgSec {
    height: 208px;
    margin-top: 24px;
  }
  .artWorkImg {
    width: 100%;
    height: 208px;
  }
  .topRightMainSec {
    width: 100%;
  }
  .sliderBottomMenu {
    display: none
  }
  .buyBtn {
    width: 96px;
    height: 32px;
    background-color: #EE574C;
    color: #FFFFFF;
    border-radius: 5px;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin-right: auto;
    margin-left: auto;
    text-transform: none;
  }
  .galleryBottomSec {
    display: none;
  }
  .galleryTopSec {
    flex-direction: column;
  }
  .galleryDescSec {
    flex-direction: column;
    margin-top: 0px;
  }
  .galleryDecsTxt {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .galleryMainPhoto {
    width: 100%;
    //height: 178px;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
  }
  .exploreBtn {
    background-color: #232323;
    color: white;
    width: 96px;
    height: 32px;
    border-radius: 5px;
    margin-top: 16px;
    text-transform: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    margin-right: auto;
    margin-left: auto;
  }
  .galleryMainSec {
    margin-top: 100px;
  }
  .artist {
    img {
      width: calc(100% - 8px);
    }

    p {
      font-family: Roboto;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
    }
  }
  .artistTitle {
    width: 100%;
    font-size: 25px;
    font-weight: 550;
    line-height: 30px;
  }
  .artistsSubtext {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
  }
  .viewAll {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
  }
  .moreArtists {
    margin-bottom: 24px;
  }
  .galleryVidContainer{
    overflow: hidden;
  }
  .galleryPlayPhoto {
    position: absolute;
    width: 46px;
    height: 46px;
  }
  .artCenterSec {
    margin-bottom: 16px;
  }
  .galleryDescMainSec {
    margin-top: 16px;
  }
  .galleryName {
    justify-content: center;
  }
}