@media (max-width: 600px) {

}

@media (min-width: 788px) {

  .ArtistTitle {
    display: none !important;
  }

}


@media (max-width: 788px) {

  .row {
    justify-content: center!important;
  }

}

@media (max-width: 1157px) {

  .row {
    justify-content: center!important;
  }
}