@media (max-width: 600px) {
  .pageTitle {
    margin-top: 52px;
    font-size: 24px;
    line-height: 28px;
  }
  .lastUpdate {
    font-size: 14px;
    line-height: 16px;
  }
  .paragraph {
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
  }
  .paragraphTitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
  }
  .guideline {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 16px;
  }

  .lastGuideline{
    margin-bottom:52px
  }


}
