.main {
  display: flex;
  flex-direction: column;
}

.topSec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 132px;
}

.artistDetailSec {
  display: flex;
  flex-direction: column;
}

.artistName {
  color: #000000;
  font-family: "Eksell-font";
  font-size: 40px;
  font-weight: 550;
  margin-top: 61px;
}

.artistWebsite {
  color: #193EFF;
  font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
  cursor: pointer;
}

.rankingMainSec {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
}

.rankingText {
  color: #232323;
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: underline;
}

.rankingSec {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.globalRank {
  color: #232323;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.domesticRank {
  color: #232323;
  font-size: 16px;
  font-weight: 500;
}

.newsMainSec {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 325px;
  height: 71px;
  //height: 71px;
  margin-top: 64px;
  //border: 1px solid #A7A7A7;
  border: 1px solid #FD6E19;
  border-radius: 5px;
  padding: 12px 16px 13px 16px;
}
.newsMainSec:hover{
  cursor: pointer;
}

.newsSec {
  display: flex;
  flex-direction: column;
}

.newsText {
  color: #232323;
  font-size: 16px;
  font-weight: 500;
}

.newsTitle{
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  //line-height: 19px;
  text-align: left;
}

.newsLink {
  color: #232323;
  font-size: 16px;
  font-weight: 400;
  margin-top: 8px;
  overflow-wrap: break-word;
  word-break: break-all;
  text-decoration: underline;
}

.artistImgSec {
  display: flex;
  width: 455px;
  height: 450px;
  box-shadow: 0px 1px 3px 0px #00000026;
  border-radius: 3px;

}

.relatedSec {
  //margin-top: 48px;
}

.relatedTitle {
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 40px;
  margin-left: 20px;
}

.slider2 {
  margin-bottom: 48px;
  text-align: center;
}

.card {
  height: 419px;
  width: 256px;
  * {
    user-select: none;
  }

  margin: 20px 0px 20px 18px;
  //width: 220px;
  //height: 336px;
  //box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 15px 0px #00000040;
  border-radius: 3px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.card:hover{
  box-shadow: 0px 2px 20px 0px #00000033;
}

.relatedImg {
  width: 208px;
  height: 188px;
  margin: 24px auto 24px auto;
  background-size: cover;
}
.date1 {
  height: 15px;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #999999;
  margin-top: 5px;
  width: 172px;
  //margin-left: 23px;
}

.relatedDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .relatedDescTitle {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    color: #232323;
    text-align: left;
    width: 203px;
  }

  .relatedDescDesc {
    font-family: Roboto;
    text-align: left;
    width: 203px;
    margin-top: 16px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
  }
}

.midMainSec {
  display: flex;
  flex-direction: column;
}



@import  "ArtistProfileMedia.module.scss" ;