@media (max-width: 782px) {
  .row{
    justify-content: center!important;
  }

  .root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 52px;
    margin-bottom: 0px;
    width: 100%;
  }

  .box1 {
    height: 71px;
    width: 430px;
    border-radius: 3px;
    border: 1px solid #A7A7A7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .tableBox {
    background-color: #F3F5F8;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 430px;
    width: 480px;
    border-radius: 3px;
    margin-top: 0px;
    padding-bottom: 24px;

  }
}
