@media (max-width: 1200px) {
  .mainTitle {
    margin-top: 10px;
    font-weight: 550;
    font-size: 30px;
    line-height: 36px;
  }
  .card {
    width: 312px;
    height: 489px;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 80px;
  }

  .total{
    font-size: 14px;
  }

  .items {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leftNumbers{
    font-size: 14px;
  }

  .fractionsLeft{
    font-size: 12px;
  }

  .artistLabel {
    font-size: 12px;
  }

  .artworkName {
    font-size: 16px;
  }
  .items{
    //display: inline-grid;
    display: flex;
    //align-items: center;
    //justify-content: center !important;
    flex-wrap: wrap;
    //margin-left: auto;
    //margin-right: auto;
    //grid-template-columns: auto auto auto;
    //grid-column-gap: 36px;
    //grid-row-gap: 36px;
    margin-top: 56px;
    margin-bottom: 92px;
  }
}

@media (max-width: 735px) {
  .items{
    //display: inline-grid;
    display: flex;
    //align-items: center;
    //justify-content: center !important;
    flex-wrap: wrap;
    //margin-left: auto;
    //margin-right: auto;
    //grid-template-columns: auto auto auto;
    //grid-column-gap: 36px;
    //grid-row-gap: 36px;
    margin-top: 56px;
    margin-bottom: 92px;
  }
  .card {
    width: 312px;
    height: 489px;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 80px;
  }
}