.footerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: Roboto, sans-serif;
  height: 496px;
  background-color: #232323;
}

.registerText {
  margin-top: 56px;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 21.09px;
}

.emailSec {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 32px;
}

.emailInput {
  width: 360px;
  height: 37px;
  border-radius: 5px;
  font-weight: 300;
  font-size: 16px;
  padding-left: 15px;
  color: #232323;
}

.emailInput:focus {
  outline: none;
}

.registerBtn {
  background-color: #F4F4EF !important;
  color: #232323 !important;
  width: 117px !important;
  height: 37px !important;
  border-radius: 5px !important;
  margin-left: 5px !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 21.09px !important;
  text-align: center !important;
  text-transform: none !important;

  &:hover {
    background-color: #F4F4EF !important;
  }
}

//.registerBtn:hover {
//  background-color: #F4F4EF;
//}

.dividingLine {
  border-bottom: 2px solid #E0E7EC;
  width: 100%;
  height: 0;
  margin-top: 56px;
}

.linksMainSec {
  display: flex;
  flex-direction: row;
  width: 895px;
  justify-content: space-between !important;
  margin-top: 48px;
}

.linksSec {
  display: flex;
  flex-direction: column;
  text-align: left;
  //font-weight: 500;
  //font-size: 18px;
  //color: #FFFFFF;
}

.linkTitle {
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  text-align: left;
  margin-bottom: 16px;
}

.linkSubtitle {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.logoSec {
  //background-color: #94A2AB;
  //border-radius: 16px;
  //width: 185px;
  width: 40px;
  height: 46px;
  //height: 96px;
  //font-weight: 900;
  //font-size: 22px;
  //color: #FFFFFF;
  text-align: center;
  display: flex;
  align-items: start;
  justify-content: center;
}

.socialMediaSec {
  display: flex;
  flex-direction: row;
  margin-top: 81px;
  margin-bottom: 24px;
}
.instagramIcon {
  width: 30.38px;
  height: 30px;
}
.linkedInIcon {
  width: 30.38px;
  height: 30px;
  margin-left: 32px;
}
.telegramIcon {
  width: 29.21px;
  height: 25.88px;
  margin-left: 32px;
}
.twitterIcon {
  width: 30.38px;
  height: 24.39px;
  margin-left: 32px;
}

@import "media";




















