@import "./../colors";

.topMainSec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px;
  width: 100%;
}

.topLeftSecFadeIn {
  display: flex;
  flex-direction: column;
  margin-top: 109px;
  width: 42%;
  padding-right: 70px;

  .artWorkName {
    font-size: 50px;
    font-weight: 550;
    line-height: 60px;
    color: #000000;
    text-align: left;
    opacity: 1;
    transition: opacity 1s ease;
    font-family: "Eksell-font";
  }

  .artistName {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #232323;
    opacity: 1;
    transition: opacity 1s ease;
    margin-top: 8px;
  }

  .artworkInfoSec {
    height: 180px;
    margin-bottom: 25px;
  }

  .artworkInfo {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #232323;
    //margin-top: 16px;
    opacity: 1;
    transition: opacity 1s ease;
    text-align: left;
    //border:solid red;
    height: 200px;
    overflow: hidden;
  }

  //.artworkInfo {
  //  //height: 200px;
  //
  //  //font-size: 16px;
  //  //font-weight: 300;
  //  //line-height: 25px;
  //  //color: #232323;
  //  margin-top: 16px;
  //  //text-align: left;
  //  opacity: 0;
  //  //transition: opacity 1s ease;
  //}
}

.topLeftSecFadeOut {
  display: flex;
  flex-direction: column;
  margin-top: 109px;
  width: 42%;
  padding-right: 70px;

  .artWorkName {
    font-size: 50px;
    font-weight: 550;
    line-height: 60px;
    color: #000000;
    text-align: left;
    opacity: 0;
    transition: opacity 1s ease;
    font-family: "Eksell-font";
  }

  .artistName {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #232323;
    margin-top: 8px;
    opacity: 0;
    transition: opacity 1s ease;
  }

  .artworkInfoSec {
    height: 180px;
    margin-bottom: 25px;
  }

  //.artworkInfo {
  //  height: 200px;
  //
  //
  //  font-size: 16px;
  //  font-weight: 300;
  //  line-height: 25px;
  //  color: #232323;
  //  //margin-top: 16px;
  //  text-align: left;
  //  opacity: 0;
  //  transition: opacity 1s ease;
  //}
  .artworkInfo {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #232323;
    //margin-top: 16px;
    opacity: 1;
    transition: opacity 1s ease;
    text-align: left;
    //border:solid red;
    height: 200px;
    overflow: hidden;
  }
}


.buyBtn {
  width: 164px;
  height: 55px;
  background-color: $orange !important;
  color: #FFFFFF !important;
  border-radius: 5px !important;
  margin-top: 61px !important;
  //margin-top: 5px !important;
  //margin-top: 33px !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  text-transform: none !important;

  &:hover {
    background-color: $orange !important;
  }
}

.buyBtnBlack {
  width: 164px;
  height: 55px;
  //background-color: #232323 !important;
  background: linear-gradient(90deg, #1E2128 0%, #41434F 100%);
  color: #FFFFFF !important;
  border-radius: 5px !important;
  margin-top: 61px !important;
  //margin-top: 5px !important;
  //margin-top: 33px !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  text-transform: none !important;

  &:hover {
    background-color: #232323 !important;
  }
}

.buyBtnBlack2 {
  width: 164px;
  height: 55px;
  background: linear-gradient(90deg, #1E2128 0%, #41434F 100%);
  color: #FFFFFF !important;
  border-radius: 5px !important;
  margin-top: 61px !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  text-transform: none !important;

  &:hover {
    background-color: #232323 !important;
  }
}

.buyBtnDisabled {
  width: 164px;
  height: 55px;
  background-color: #D9D9D9 !important;
  color: #FFFFFF !important;
  border-radius: 5px !important;
  margin-top: 61px !important;
  //margin-top: 5px !important;
  //margin-top: 33px !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  text-transform: none !important;

  &:hover {
    background-color: #D9D9D9 !important;
  }
}

.sliderImages {
  //display: flex;
  //align-items: center;
  //width: calc(53.5vw);
  //width: 1100px;
  //overflow-x: hidden;
  //position: relative;
  //height: 550px;
  width: 100%;
  //width: 645px !important;
}

.topRightMainSec {
  display: flex;
  flex-direction: column;
  width: 58%;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.15));
  margin-top: 24px;

  .artworkImgSec {
    //height: 365.3px;
    //width: 640px;
    width: 100%;
    border-radius: 3px 3px 0px 0px;
  }

  .artWorkImg {
    width: 100%;
    //width: 548.8px;
    height: 365.3px;
    transition: all 1s ease;
    border-radius: 3px 3px 0px 0px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .artWorkDetailSec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //width: 548.8px;
    height: 97.7px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 3px 3px;
    padding-left: 48px;
    padding-right: 80px;
    //margin-bottom: 5px;
    //border: 1px #232323;
  }

  .artWorkDetailSecComingSoon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 97.7px;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 0px 0px 3px 3px;
    padding-left: 48px;
    padding-right: 80px;
  }

  .artWorkDetailSecSoldOut {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    //width: 548.8px;
    height: 97.7px;
    //background-color: #FFFFFF;
    border-radius: 0px 0px 3px 3px;
    padding-left: 48px;
    padding-right: 49px;
    background-color: #232323B2;
    color: #FFFFFF;
  }
}

.slider {
  //border: solid red;
  border-radius: 3px 3px 3px 3px;
  //box-shadow: 0px 1px 3px 0px red;
  box-shadow: 0px 1px 3px 0px #00000026;

}

.topRightSec {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  //margin-left: 109px;
  //margin-left: 5px;
  //margin-right: 50px;
  cursor: pointer;
  border-radius: 3px 3px 0px 0px;
  //box-shadow: 0px 1px 3px 0px #00000026;
  .artworkImgSec {
    //height: 430px;
  }

  .artWorkImg {
    //width: 645px;
    width: 100%;
    height: 430px;
    transition: all 1s;
  }
  .artWorkDetailSec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //width: 645px;
    width: 100%;
    height: 115px;
    transition: all 1s;
    background-color: #FFFFFF;
    border-radius: 0px 0px 3px 3px;
    //padding-left: 48px;
    //padding-right: 80px;
    //margin-bottom: 5px;
    //border: 1px #232323;
  }

  .artWorkDetailSecSoldOut {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //width: 645px;
    width: 100%;
    height: 115px;
    transition: all 1s;
    background-color: #232323B2;
    border-radius: 0px 0px 3px 3px;
  }

  .topRightSecSecondary {
    display: flex;
    flex-direction: column;
    //margin-left: 109px;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.15));
  }
}

.topRightSecBehind {
  position: absolute;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.15));
  margin-left: 5px;
  margin-right: 50px;
  cursor: pointer;

  .artworkImgSec {
    //height: 365.3px;
    transition: height 1s;
  }

  .artWorkImg {
    //width: 548.8px;
    width: 100%;
    height: 365.3px;
    transition: all 1s;
  }
  .artWorkDetailSec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //width: 547.95px;
    width: 100%;
    height: 97.7px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 3px 3px;
    padding-left: 48px;
    padding-right: 80px;
    //margin-bottom: 5px;
    transition: all 1s;
    //border: 1px #232323;
  }

  .topRightSecSecondary {
    display: flex;
    flex-direction: column;
    //margin-left: 109px;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.15));
  }
}

.dayHourMinSec {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  //margin-right: 80px;
}

.dayHourMinSec2 {
  display: flex;
  flex-direction: row;
  //margin-top: 32px;
}

.Sec {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.Num {
  font-size: 32px;
  font-weight: 500;
  //line-height: 32px;
  //color: #EE574C;
  color: $orange;
}

.Txt {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.priceMainSec {
  display: flex;
  flex-direction: column;
  //margin-left: 48px;
}

.priceSec {
  display: flex;
  flex-direction: row;
  margin-top: 23px;
  margin-bottom: 27px;
}

.fractionsLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fractionsTitle {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.fractionsItem {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  margin-top: 14px;
}

.quantSec {
  display: flex;
  flex-direction: row;
}

.titleSec {
  font-size: 16px;
  font-weight: 300;
  margin-right: 39px;
}

.campaignSec {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.campaignStart {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;

}

.title2Sec {
  font-size: 16px;
  font-weight: 300;
  margin-right: 16px;
}

.amountSec {
  font-size: 18px;
  font-weight: 500;
}

.sliderBottomMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 16px;
  width: 100%;
  float: right;
  //margin-left: 112px;
  align-items: center;
}

.sliderBottomMenuComingSoon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;
  width: 100%;
  float: right;
  //margin-left: 112px;
  align-items: center;
}

.selectedTap {
  user-select: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  //font-weight: 700;
  color: $orange;
  font-weight: 300;
}

.vector {
  width: 10.29px;
  height: 16.69px;
  cursor: pointer;
}

.unselectedTab {
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  font-weight: 300;
  color: #232323;
  margin-right: 10px;
  margin-left: 10px;
}

.infoSecDesktop {
  display: flex;
  flex-direction: column;
}

.mobBtn {
  display: none;
}

.mobBtnBlack {
  display: none;
}

.buyBtnDesktop {

}

@import "media";