html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@font-face {
  font-family: "Eksell-font";
  src: url("/fonts/Eksell-font/Eksell_display_large.otf");
  font-style: normal;
  font-display: swap;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-app{
  margin-left: 126px;
  margin-right: 126px;
}