.mainHeader {
  display: flex;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
  padding: 0 4rem;
  margin-left: 126px;
  margin-right: 126px;
  margin-bottom: 80px;

  .logoContainer {
    width: 96px;
    height: 96px;
    background-color: #94A2AB;
    border-radius: 16px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 22px;
  }

  .menuContainer {
    list-style: none;
    display: flex;

    .marketplaceItem {
      margin-right: 104px;
    }

    li {
      margin: 15px 24px 24px;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      cursor: pointer;
      user-select: none;
    }

    .registerBtn {
      background-color: #232323;
      text-transform: none;
      height: 47px;
      width: 131px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      padding: 0;
      border-radius: 5px;
    }
  }
}