.mainHeader {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
  //padding: 0 4rem;
  //margin-left: 126px;
  //margin-right: 126px;
  margin-bottom: 80px;

  .headerMainMob {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .hamburgerAndlogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    width: 16px;
    height: 14px;
  }

  .logoMob {
    width: 51px;
    height: 32px;
    color: white;
    margin-right: 34px;
    border-radius: 5px;
    background-color: #94A2AB;
  }
  .logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 96px;
    background-color: #94A2AB;
    border-radius: 16px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 22px;
  }
  .registerBtnMob {
    background-color: #232323;
    color: white;
    text-transform: none;
    height: 32px;
    width: 71px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    padding: 0;
    border-radius: 5px;
  }
  .menuContainer {
    list-style: none;
    display: flex;

    .marketplaceItem {
      margin-right: 104px;
    }

    li {
      margin: 15px 24px 24px;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      cursor: pointer;
      user-select: none;
    }

    .registerBtn {
      background-color: #232323;
      text-transform: none;
      height: 47px;
      width: 131px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      padding: 0;
      border-radius: 5px;
    }
  }
  .modalMainSec {
    display: flex;
    flex-direction: column;
  }
  .connectWalletTitle {
    font-size: 20px;
    font-weight: bold;
    color: #232323;

  }
}