@import "./../colors";

.box {
  padding: 16px;


  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 550px;
  // height: 477,
  border-radius: 3px;

}

.modalMainSec {
  display: flex;
  flex-direction: column;
}

.modalBody {
  //padding: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.processModalBody {
  padding-left: 16px;
  padding-right: 16px;
}

.imageSec2 {
  //padding-top: 32px;
  //padding-bottom: 16px;
  //border-top: 1px solid #BEBDBD;
  //border-bottom: 1px solid #BEBDBD;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageSec {
  padding-top: 32px;
  padding-bottom: 24px;
  border-top: 1px solid #BEBDBD;
  border-bottom: 1px solid #BEBDBD;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.statusSec {
  margin-top: 24px;
  padding-right: 57px;
  padding-left: 56px;
  padding-bottom: 24px;
}

.titleSec {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.statusTitle {
  width: 110px;
  //border: seagreen solid;

}

.transactionTitle {
  //border: seagreen solid;
  width: 130px;

}

.status {
  width: 110px;
  //border: seagreen solid;
}

.deleteHr {
  height: 1px;
  border-top: 1px solid #E2E2E2;
  width: 67%;
}

.toWhere {
  width: 18%;
}

.assetPrice {
  width: 15%;
  text-align: right;
}

.deleteRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 32px;
}

.deleteBtn {
  margin: auto !important;
  width: 156px !important;
  height: 43px !important;
  background-color: #232323 !important;
  font-family: Roboto !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 19px !important;
  letter-spacing: 0em;

  text-transform: lowercase !important;

  &:hover {
    background-color: #232323 !important;
  }
}

.transaction {
  color: #193EFF;
  //border: seagreen solid;
  text-align: left;
  width: 130px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;

}

.deletingAssetImg {
  width: 151px;
  height: 151px;
  margin: auto;
  margin-bottom: 24px;
  border-radius: 3px;
}


.processNote {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  word-wrap: break-word;
  margin-bottom: 16px;
}

.processNote2 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  word-wrap: break-word;
  margin-bottom: 16px;
}

.assetImg {
  width: 151px;
  height: 151px;
  margin: auto;
}

.processModalHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 14px;
  padding-bottom: 27px;
}

.deleteModalHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  //padding-top: 14px;
  padding-bottom: 4px;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // padding-top: 14px;
  //padding-bottom: 27px;
}

.closeVector {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #ECECEC;
  cursor: pointer;
  //right: 0;
  //position: absolute;
}

.vectorX {
  width: 16px;
  height: 16px;
}

.loadingNote {
  max-width: 300px;
  width: unset;
  margin-right: 105px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  //margin-bottom: 27px;
  //margin-top:14px ;
}

.assetTable {
  margin-top: 44px;
}

.tableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.assetTitle {
  //border: solid crimson;
  width: 200px;
}

.ownerTitle {
  //border: solid crimson;
  width: 110px;
}

.priceTitle {
  //border: solid crimson;
  width: 100px;
}

.itemRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #BBBBBB;
}

.asset {
  //border: solid crimson;
  width: 200px;
  display: flex;
  align-items: center;

  img {
    width: 71px;
    height: 71px;
    box-shadow: 0px 1px 3px 0px #00000026;
    border-radius: 3px;
    margin-right: 24px;
  }

  .assetName {

  }
}

.owner {
  //border: solid crimson;
  width: 110px;
  color: #193EFF;
}

.price {
  //border: solid crimson;
  width: 100px;
  text-align: right;
}

.totalCostSec {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  margin-bottom: 64px;

  .hr {
    height: 1px;
    border-top: 1px solid #E2E2E2;
    width: 65%;
  }
}

.totalCost {
  width: 15%;
}

.totalCostPrice {
  width: 20%;
  text-align: right;
}

.btnSec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.BuyBtn {
  width: 134px !important;
  height: 43px !important;
  background-color: $orange !important;
  font-family: Roboto !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 19px !important;
  letter-spacing: 0em;
  text-transform: lowercase !important;

  &:hover {
    background-color: $orange;
  }
}

.toWhereSec {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 35px;

  .offer {
    text-align: right;
  }

  div {
    width: 25%;
  }

  hr {
    border: none;
    height: 1px;
    background: #BEBDBD;
    width: 60%;
  }
}

@media (max-width: 600px) {
  .box {
    padding: 8px;
  }
  .closeVector {
    width: 20px;
    height: 20px;
  }
  .vectorX {
    width: 8px;
    height: 8px;
  }
  .deleteModalHeader {
    padding-bottom: 8px;
  }
  .processModalBody {
    padding-right: 4px;
    padding-left: 4px;
  }
  .processNote {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  .processNote2 {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
    text-align: left;
  }
  .deletingAssetImg {
    width: 140px;
    height: 126px;
    margin-bottom: 8px;
  }
  .deleteRow {
    margin-top: 8px;
  }
  .toWhereSec {
    margin-top: 8px;
    margin-bottom: 32px;
    font-size: 14px;
  }
  .btnSec {
    margin-bottom: 24px;
  }
  .box {
    width: 90%;
  }

}

@media (max-width: 450px) {
  .toWhereSec {
    div {
      width: 27%;
    }

    hr {
      width: 44%;
    }
  }
}

@media (max-width: 374px) {
  .toWhereSec {
    div {
      width: 31%;
    }

    hr {
      width: 38%;
    }
  }
}